<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 pt-3">0 despesas registradas</h1>
      <h3 class="lead">Parece que você ainda não tem despesas registradas!</h3>
      <h6>Clique <a href = "/add" class="border-bottom">aqui</a> para registrar uma nova despesa.</h6>
    </div>

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        <app-card></app-card>
        </div>
        <div class="col-sm-4">
        <app-card></app-card>
        </div>
        <div class="col-sm-4">
            <app-card></app-card>
            </div>
      </div>
      
  </div>

