<div class="card" style="width: 18rem;">
    <div class="card-header">
        <button type="button" class="btn btn-sm btn-danger float-left"><i class="fas fa-trash"></i>&nbsp;Remover</button>
        <button type="button" class="btn btn-sm btn-info float-right"><i class="fas fa-edit"></i>&nbsp;Editar</button>
      </div>
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">Vencimento: Todo dia {{date}}</p>
          <p class="card-text">Valor: R${{value}}</p>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-success"><i class="fas fa-check"></i>&nbsp;Tá pago</button>
        </div>
      </div>
