<div class="card" style="width: 18rem;">
    <div class="card-header">
        <button type="button" class="btn btn-danger float-left">Remover</button>
        <button type="button" class="btn btn-info float-right">Editar</button>
      </div>
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">Vencimento: Todo dia {{date}}</p>
          <p class="card-text">Valor: R${{value}}</p>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-success">Tá pago</button>
        </div>
      </div>
