/* You can add global styles to this file, and also import other style files */

body, h1, h2, h3, h4, h5, h6, a, p, span, input, button, li {
    font-family: 'Open Sans', sans-serif;
}

#bar{
    background-color:#00e350;
}

a{
    color:#161a36 !important; 
    
}